# silly macOS
.DS_Store

# build files
build/

# editor config
.vscode/

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
ide_profiles/xcode/Debug/
ide_profiles/xcode/ExtendedKF.build/
*.suo


*.vcxproj
*.cmake
CMakeFiles/*
*.bin
*.exe
*.vcxproj
Win32/*
*.sln
ExtendedKF.dir/*
CMakeCache.txt
Release/*
Debug/*
ALL_BUILD*
ZERO_CHECK*
*.db
ExtendedKF.VC.VC.opendb
*.filters